#
# https://www.fromdual.com/mysql-configuration-file-sample
#
# MYSQL AND MARIADB CONFIGURATION FILE TEMPLATE (MY.CNF/MY.INI)
#
# remote server (local network ip = 192.168.10.xy), connected by vpn
[client]
host                = 192.168.20.150
port                = 3306
database            = mi_db
user                = media_info
password            = mi_pass
